<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录页面</title>
    <link rel="icon" th:href="@{/image/huawei.jpg}" href="/image/huawei.jpg"/>
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}" href="/bootstrap-5.2.3-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css}"/>
    <script src="/js/jquery-3.6.0-min.js"></script>
    <script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        function check(){
            var msg = [[${result.msg}]];
            if (msg!=null || msg.eq("注册成功") || msg.eq("注册失败!")){
                $("#modal-error-info").html(msg);
                $("#btn-modal-error").click();
            }
        }
    </script>
</head>
<body onload="check()">
<div class="container mt-5">
    <div class="col-md-6 offset-md-3 order-md-3 shadow bg-light">
        <button type="button" class="btn btn-warning w-25 mb-4 mx-4" >
            <a th:href="@{/Business2/dologin2}" style="text-decoration: none; color: white;display: block"><i class="bi bi-person-fill"></i>切换商家登录</a>
        </button>
        <div class="text-center">
            <img src="/image/logo.png" style="width: auto; height: 200px" alt="">
        </div>
        <h5 class="text-center">
            <i class="bi bi-person-fill"></i>
            用户登陆页面
        </h5>
        <form id="loginForm" class="text-center" th:action="@{/User2/login}" th:method="post" role="form">
            <div class="row">
                <label for="un" class="col-md-2 offset-md-1 fs-4">
                    用户名</label>
                <div class="col-md-7 order-md-2">
                    <input type="text" id = "un" name="user_id" class="form-control w-100 mb-4"
                           placeholder = "请输入用户名" >
                </div>
            </div>

            <div class="row">
                <label for="pw" class="col-md-2 offset-md-1 fs-4">密码</label>
                <div class="col-md-7 order-md-2">
                    <input type="password" id = "pw" name="user_pwd" class="form-control w-100 mb-4" placeholder = "请输入密码" >
                </div>
            </div>
            <div class="row mx-auto">
                <div class="mx-auto">
                    <button type="button" class="btn btn-dark w-25 mb-4 mx-4">
                        <a th:href="@{/User2/doenroll}" style="text-decoration: none; color: white;display: block">注册</a>
                    </button>
                    <button type="button" class="btn btn-dark w-25 mb-4 mx-4" onclick="this.form.submit();check()">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>

<button id="btn-modal-error" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-error" hidden></button>
<div class="modal fade" id="modal-error" tabindex="-1" aria-labelledby="modal-error" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    温馨提示
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-warning text-center">
                    <span id="modal-error-info"></span>
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="position-absolute top-100 start-50 translate-middle">
    <p>CopyRight © 2023 jmu宿舍 </p>
</div>

</body>
</html>